nav ul li a{
    padding: 95px;
    list-style: none;
    text-decoration: none;
    color: lightseagreen;
    
}
h1{
    text-align: center;
    color: darkcyan;
}
ul{
    display: flex;
}
nav ul li{
    list-style: none;
    
}
a:hover{
    color: darkgreen;
}
a{
    border-bottom: 1px solid;
}